{
  "admin_password": "{{ .Env.ERPNEXT_PASSWORD}}",
  "db_host": "{{ .Env.MYSQL_URI }}",
  "db_name": "{{ .Env.MYSQL_DATABASE }}",
  "db_password": "{{ .Env.MYSQL_PASSWORD }}",
  "db_user": "{{ .Env.MYSQL_USER }}",
  "deny_multiple_logins": false,
  "disable_website_cache": false,
  "dns_multitenant": false,
  "host_name": "localhost",
  "logging": "1",
  "mail_login": "{{ .Env.MAIL_LOGIN }}",
  "mail_password": "{{ .Env.MAIL_PASSWORD }}",
  "mail_port": "{{ .Env.MAIL_PORT }}",
  "mail_server": "{{ .Env.MAIL_SERVER }}",
  "mute_emails": false,
  "redis_cache": "redis://{{ .Env.REDIS_CACHE }}",
  "redis_queue": "redis://{{ .Env.REDIS_QUEUE }}",
  "redis_socketio": "redis://{{ .Env.REDIS_SOCKETIO }}",
  "root_password": "{{ .Env.ROOT_PASSWORD }}",
  "serve_default_site": true,
  "use_ssl": {{ .Env.ERPNEXT_SSL }},
  "developer_mode": {{ .Env.ERPNEXT_DEVELOPER }}
}